# Pyramid
bcrypt
docutils
plaster_pastedeploy
pyramid
pyramid_debugtoolbar
pyramid_jinja2
pyramid_retry
pyramid_tm
SQLAlchemy
mysqlclient
transaction
zope.sqlalchemy
waitress
cornice

# Database migrations
alembic

# Bots and scrypts
python-bitcoinrpc
python-telegram-bot
