{% macro user_tokens(tokens) %}
<table class="pure-table pure-table-horizontal user-table" style="width:100%">
    <thead>
        <tr>
            <th>Koin</th>
            <th>Value</th>
            <th>Rate</th>
            <th>Value in EUR</th>
        </tr>
    </thead>

    <tbody>
        {% for fund in tokens %}
        <tr>
            <td>
                {{ fund.token }}
            </td>
            <td class="{{ fund.token }}" id="{{ fund.token }}">
                {{ "%.8f"|format(fund.value) }}
            </td>
            {% if fund.token == "BTC" %}
            <td id="btceur"></td>
            {% elif fund.token == "ETH" %}
            <td id="etheur"></td>
            {% elif fund.token == "PIVX" %}
            <td id="pivxeur"></td>
            {% elif fund.token == "SPF" %}
            <td id="spfeur"></td>
            {% elif fund.token == "XMR" %}
            <td id="xmreur"></td>
            {% elif fund.token == "DTR" %}
            <td id="dtreur"></td>
            {% else %}
            <td></td>
            {% endif %}
            <td ID="{{ fund.token }}EUR">
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endmacro %}

{% macro user_transactions(transactions) %}
<table class="pure-table pure-table-bordered transactions-table" style="width:100%">
    <thead>
        <tr>
            <th>Koin</th>
            <th>Value</th>
            <th>Comment</th>
            <th>Sender</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
    {% for fund in transactions %}
    <tr>
        <td>
            {{ fund.token }}
        </td>
        <td class="{{ fund.token }}">
            {% if fund.sender == user %}
                {{ "%.8f"|format(-fund.value) }}
            {% else %}
                {{ "%.8f"|format(fund.value) }}
            {% endif %}
        </td>
        <td>
            {% if fund.sender == user %}
                {{ fund.user.name }}
            {% else %}
                {{ fund.sender.name }}
            {% endif %}
        </td>
        <td>
            {{ fund.comment }}
        </td>
        <td class="timestamp">
            {{ fund.timestamp }}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</br>
</br>
{% endmacro %}
