{% extends 'layout.jinja2' %}

{% block subtitle %}Edit {{pagename}} - {% endblock subtitle %}

{% block content %}
<form>
<h1 class="content-subhead">
    <input name="subtitle" type="text" placeholder="subtitle" value="{{ pagesubtitle }}">
</h1>

<!-- A single blog post -->
<section class="post">
    <header class="post-header">
        <h2 class="post-title">
            <input name="title" type="text" placeholder="title" value="{{ pagetitle }}">
        </h2>
    </header>

    <div class="post-description">
        <textarea id="editor" class="form-control" name="body" rows="10" cols="60">{{ pagedata }}</textarea>
    </div>

    <div class="form-group">
        <button type="submit" name="form.submitted" value="Save" class="pure-button">Shrani</button>
    </div>
</section>
</form>

{% endblock content %}
