{% extends 'song_layout.jinja2' %}

{% block subtitle %}Add song - {% endblock subtitle %}

{% block songnavigation %}
<li class="nav-item">
    <button class="pure-button" type="submit" name="form.submitted" value="Save" form="add_form">Save</button>
</li>
{% endblock songnavigation %}

{% block content %}
<form id="add_form" class="pure-form" action="{{ edit_url }}" method="post">
    <h1 class="content-subhead">
        <input class="pure-input-1" type="text" name="subtitle" placeholder="Subtitle" />
    </h1>

    <!-- A single blog post -->
    <section class="post">

        <header class="post-header">
            <h2 class="post-title">
                <input class="pure-input-1" type="text" name="title" placeholder="Title" />
            </h2>

            <p class="post-meta">
                <!--By <a href="#" class="post-author">artist-->
                <input class="pure-input-1" type="text" name="tags" placeholder="Tags separated with #" />
            </p>
        </header>

        <div class="post-description">
            <div class="post-images">
                <input class="pure-input-1" type="text" name="ytplayer" placeholder="URL" />
            </div>
            <p>
                <textarea class="pure-input-1 trumbowyg-textarea" name="lyric_text" rows="10" cols="60"></textarea>
            </p>
            <label for="lyric_en">English</label>
            <p>
                <textarea class="pure-input-1 trumbowyg-textarea" name="lyric_en" rows="10" cols="60"></textarea>
            </p>
            <label for="lyric_ru">Русский</label>
            <p>
                <textarea class="pure-input-1 trumbowyg-textarea" name="lyric_ru" rows="10" cols="60"></textarea>
            </p>
        </div>

        <div class="form-group">
            <button class="pure-button pure-input-1 pure-button-primary" type="submit" name="form.submitted" value="Save">Save</button>
        </div>
    </section>
</form>
{% endblock content %}
