{% extends 'layout.jinja2' %}

{% block subtitle %}Edit {{song.title}} - {% endblock subtitle %}

{% block songnavigation %}
<li class="nav-item">
    <button class="pure-button" type="submit" name="form.submitted" value="Save" form="edit_form">Save</button>
</li>
{% endblock songnavigation %}

{% block content %}
<form id="edit_form" class="pure-form" action="{{ edit_url }}" method="post">
    <h1 class="content-subhead">
        <input class="pure-input-1" type="text" name="subtitle" value="{{song.subtitle}}" placeholder="Subtitle" />
    </h1>

    <!-- A single blog post -->
    <section class="post">

        <header class="post-header">
            <h2 class="post-title">
                <input class="pure-input-1" type="text" name="title" value="{{song.title}}" placeholder="Title" />
            </h2>

            <p class="post-meta">
                <!--By <a href="#" class="post-author">artist-->
                <input class="pure-input-1" type="text" name="tags" value="{% for tag in song.tags %}{{tag.text + ' '}}{% endfor %}" placeholder="Tags separated with #" />
            </p>
        </header>

        <div class="post-description">
            <div class="post-images">
                <input class="pure-input-1" type="text" name="ytplayer" value="{{song.ytplayer}}" placeholder="URL" />
            </div>
            {% for lyric in song.lyrics %}
                {% if lyric.language == "text" %}
                    <p>
                        <textarea class="pure-input-1" name="lyric_text" rows="10" cols="60">{{lyric.text | safe}}</textarea>
                    </p>
                {% endif %}
                {% if lyric.language == "en" %}
                    <label for="lyric_en">English</label>
                    <p>
                        <textarea class="pure-input-1" name="lyric_en" rows="10" cols="60">{{lyric.text | safe}}</textarea>
                    </p>
                {% endif %}
                {% if lyric.language == "ru" %}
                    <label for="lyric_ru">Русский</label>
                    <p>
                        <textarea class="pure-input-1" name="lyric_ru" rows="10" cols="60">{{lyric.text | safe}}</textarea>
                    </p>
                {% endif %}
            {% endfor %}
        </div>

        <div class="form-group">
            <button class="pure-button pure-input-1 pure-button-primary" type="submit" name="form.submitted" value="Save">Save</button>
        </div>
    </section>
</form>
{% endblock content %}
