{% extends 'layout.jinja2' %}

{% block content %}
<!-- A single blog post -->
<section class="post">
    <header class="post-header">
        <h2 class="post-title">
            All funds
        </h2>

        <p class="post-meta">
            <table id="user_list_table_sum" class="pure-table pure-table-horizontal">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>BTC</th>
                        <th>ETH</th>
                        <th>SPF</th>
                        <th>PIVX</th>
                        <th>IOTA</th>
                    </tr>
                </thead>

                <tbody>
                {% for user in user_funds %}
                <tr>
                    <td>
                        <a href="{{request.route_url('user_view', username=user.name)}}">{{ user.name }}</a>
                    </td>
                    <td>
                        {{ "%.8f"|format(user.BTC) if user.BTC != 0 else '/' }}
                    </td>
                    <td class="{{ user.token }}">
                        {{ "%.8f"|format(user.ETH) if user.ETH != 0 else '/' }}
                    </td>
                    <td class="{{ user.token }}">
                        {{ "%.8f"|format(user.SPF) if user.SPF != 0 else '/' }}
                    </td>
                    <td class="{{ user.token }}">
                        {{ "%.8f"|format(user.PIVX) if user.PIVX != 0 else '/' }}
                    </td>
                    <td class="{{ user.token }}">
                        {{ "%.8f"|format(user.IOTA) if user.IOTA != 0 else '/' }}
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td>SUM</td>
                    {% for s in sums %}
                        <td>{{ "%.8f"|format(s) }}</td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </p>

        {% if request.user.role == "editor" %}
        <p class"post-meta">
            <a href="{{request.route_url('user_new')}}">
                Add user
            </a>
        </p>
        {% endif %}
    </header>
</section>
{% endblock content %}
