{% extends 'layout.jinja2' %}

{% block subtitle %}Nastavitve - {% endblock subtitle %}

{% block content %}
<h1 class="content-subhead">Nastavitve {{ user.name }}</h1>

<!-- A single blog post -->
<section class="post">
    <header class="post-header">
        <h2 class="post-title">Spremeni geslo</h2>
    </header>

    <div class="post-description">
        <form action="{{ user_settings_save }}" method="post">
            <div class="pure-control-group">
                <input class="pure-input-1-2" type="password" name="password" placeholder="geslo" />
                <input class="pure-input-1-2" type="password" name="repassword" placeholder="ponovi geslo" />
            </div>
            <div class="pure-control-group">
                <button type="submit" name="form.submitted" value="Save" class="pure-button">Shrani</button>
            </div>
        </form>
    </div>
</section>
{% endblock content %}
