{% extends 'layout.jinja2' %}
{% from 'components.jinja2' import user_tokens, user_transactions with context %}

{% block styles %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
{% endblock styles %}

{% block content %}
<!-- A single blog post -->
<section class="post">
    <header class="post-header">
        <h2 class="post-title">
            {{ user.name }}
        </h2>
    </header>

    <div class="post-description">
        <div class="post-images pure-g">
            <div class="pure-u-1">
                {{ user_tokens(tokens) }}
            </div>
        </div>
    </div>

    <div class="post-description">
        <div class="pure-g">
            {% if request.user.role == "editor" %}
            <div class="pure-u-1-2">
                <p class"post-meta">
                    <a class="pure-button" href="{{ add_funds }}">
                        Add funds
                    </a>
                </p>
            </div>
            {% endif %}

            {% if request.user.name == user.name %}
            <div class="pure-u-1-2">
                <p class"post-meta">
                    <a class="pure-button" href="{{ send_funds }}">
                        Send funds
                    </a>
                </p>
            </div>
            {% endif %}
        </div>
        </br>
        </br>
    </div>

    {% if transactions_btc.count() != 0 %}
    <div class="post-description">
        <div class="post-images pure-g">
            <div class="pure-u-1">
                {{ user_transactions(transactions_btc) }}
            </div>
        </div>
    </div>
    {% endif %}


    {% if transactions_eth.count() != 0 %}
    <div class="post-description">
        <div class="post-images pure-g">
            <div class="pure-u-1">
               {{ user_transactions(transactions_eth) }}
            </div>
        </div>
    </div>
    {% endif %}

    {% if transactions_spf.count() != 0 %}
    <div class="post-description">
        <div class="post-images pure-g">
            <div class="pure-u-1">
                {{ user_transactions(transactions_spf) }}
            </div>
        </div>
    </div>
    {% endif %}

    {% if transactions_pivx.count() != 0 %}
    <div class="post-description">
        <div class="post-images pure-g">
            <div class="pure-u-1">
                {{ user_transactions(transactions_pivx) }}
            </div>
        </div>
    </div>
    {% endif %}

    {% if transactions_xmr.count() != 0 %}
    <div class="post-description">
        <div class="post-images pure-g">
            <div class="pure-u-1">
                {{ user_transactions(transactions_xmr) }}
            </div>
        </div>
    </div>
    {% endif %}

    {% if transactions_dtr.count() != 0 %}
    <div class="post-description">
        <div class="post-images pure-g">
            <div class="pure-u-1">
                {{ user_transactions(transactions_dtr) }}
            </div>
        </div>
    </div>
    {% endif %}
</section>
{% endblock content %}

{% block scripts %}
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="{{request.static_url('cryptodokladi:static/js/tables.js')}}"></script>
{% endblock scripts %}
