{% extends 'layout.jinja2' %}

{% block content %}
<!-- A single blog post -->
<section class="post">
    <header class="post-header">
        <h2 class="post-title">
            {{ user.name }}
        </h2>

        <p class="post-meta">
            <table class="pure-table pure-table-bordered">
                {% for fund in user.user_funds %}
                <tr>
                    <td>
                        {{ fund.token }}
                    </td>
                    <td class="{{ fund.token }}">
                        {{ fund.value }}
                    </td>
                    <td>
                        {{ fund.timestamp }}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </p>
        <p class="post-meta">
        <form action="{{ add_fund }}" method="post">
            <div class="pure-control-group">
                <select class="pure-input-1" name="receiving_user" placeholder="Izberi prejemnika">
                    {% for user in users %}
                        <option value="{{ user.id }}">{{ user.name }}</option>
                    {% endfor %}
                </select>

                <select class="pure-input-1-2" name="token" placeholder="Token">
                    <option value="BTC">Bitcoin</option>
                    <option value="ETH">Ethereum</option>
                    <option value="SPF">SportyFi</option>
                    <option value="PIVX">PIVX</option>
                    <option value="IOTA">MIOTA</option>
                </select>
                <input class="pure-input-1-2" type="text" name="value" placeholder="Value" />
            </div>
            <div class="pure-control-group">
                <input class="pure-input-1-2" type="text" name="comment" placeholder="Komentar" />
                <button type="submit" name="form.submitted" value="Add" class="pure-button">Add</button>
            </div>
        </form>
        </p>
    </header>
</section>
{% endblock content %}
