{% extends 'layout.jinja2' %}

{% block content %}
<!-- A single blog post -->
<section class="post">
    <header class="post-header">
        <h2 class="post-title">
            {{ user.name }}
        </h2>
    </header>

    <div class="post-description">
        <div class="post-images pure-g">
            <div class="pure-u-1">
                <table class="pure-table pure-table-horizontal">
                    <thead>
                        <tr>
                            <th>Koin</th>
                            <th>Vrednost</th>
                            <th>Tečaj</th>
                            <th>Vrednost v EUR</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for fund in tokens %}
                        <tr>
                            <td>
                                {{ fund.token }}
                            </td>
                            <td class="{{ fund.token }}" id="{{ fund.token }}">
                                {{ "%.8f"|format(fund.value) }}
                            </td>
                            {% if fund.token == "BTC" %}
                            <td id="btceur"></td>
                            {% elif fund.token == "ETH" %}
                            <td id="etheur"></td>
                            {% else %}
                            <td></td>
                            {% endif %}
                            <td class="{{ fund.token }}" id="{{ fund.token }}EUR">
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="post-description">
        <form action="{{ add_fund }}" method="post">
            <div class="pure-control-group">
                <select class="pure-input-1" name="receiving_user" placeholder="Izberi prejemnika">
                    {% for user in users %}
                        <option value="{{ user.id }}">{{ user.name }}</option>
                    {% endfor %}
                </select>

                <select class="pure-input-1-2" name="token" placeholder="Token">
                    <option value="BTC">Bitcoin</option>
                    <option value="ETH">Ethereum</option>
                    <option value="SPF">SportyFi</option>
                    <option value="PIVX">PIVX</option>
                    <option value="IOTA">MIOTA</option>
                </select>
                <input class="pure-input-1-2" type="text" name="value" placeholder="Value" />
            </div>
            <div class="pure-control-group">
                <input class="pure-input-1-2" type="text" name="comment" placeholder="Komentar" />
                <button type="submit" name="form.submitted" value="Add" class="pure-button">Pošlji</button>
            </div>
        </form>
    </div>
</section>
{% endblock content %}
