{% extends 'layout.jinja2' %}
{% from 'components.jinja2' import user_tokens, user_transactions with context %}

{% block styles %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
{% endblock styles %}

{% block content %}
<!-- A single blog post -->
<section class="post">
    <header class="post-header">
        <h2 class="post-title">
            {{ user.name }}
        </h2>
    </header>

    <div class="post-description">
        <div class="post-images pure-g">
            <div class="pure-u-1">
                {{ user_tokens(tokens) }}
            </div>
        </div>
    </div>

    <div class="post-description">
        <div class="pure-g">
            {% if request.user.role == "editor" %}
            <div class="pure-u-1-2">
                <p class"post-meta">
                    <a class="pure-button" href="{{ add_funds }}">
                        Add funds
                    </a>
                </p>
            </div>
            {% endif %}

            {% if request.user.name == user.name %}
            <div class="pure-u-1-2">
                <p class"post-meta">
                    <a class="pure-button" href="{{ send_funds }}">
                        Send funds
                    </a>
                </p>
            </div>
            {% endif %}
        </div>
        </br>
        </br>
    </div>

    {% for t in transactions %}
        {% if t.transactions.count() > 0 %}
        <div class="post-description">
            <div class="post-images pure-g">
                <div class="pure-u-1">
                    {{ user_transactions(t.transactions) }}
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}

</section>
{% endblock content %}

{% block scripts %}
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="{{request.static_url('cryptodokladi:static/js/tables.js')}}"></script>
{% endblock scripts %}
