{% extends 'layout.jinja2' %}

{% block styles %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
{% endblock styles %}

{% block content %}
<!-- A single blog post -->
<section class="post">
    <header class="post-header">
        <h2 class="post-title">
            {{ user.name }}
        </h2>
    </header>

    <div class="post-description">
        <div class="post-images pure-g">
            <div class="pure-u-1">
                <table class="pure-table pure-table-horizontal user-table" style="width:100%">
                    <thead>
                        <tr>
                            <th>Koin</th>
                            <th>Vrednost</th>
                            <th>Tečaj</th>
                            <th>Vrednost v EUR</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for fund in tokens %}
                        <tr>
                            <td>
                                {{ fund.token }}
                            </td>
                            <td class="{{ fund.token }}" id="{{ fund.token }}">
                                {{ "%.8f"|format(fund.value) }}
                            </td>
                            {% if fund.token == "BTC" %}
                            <td id="btceur"></td>
                            {% elif fund.token == "ETH" %}
                            <td id="etheur"></td>
                            {% elif fund.token == "PIVX" %}
                            <td id="pivxeur"></td>
                            {% elif fund.token == "SPF" %}
                            <td id="spfeur"></td>
                            {% else %}
                            <td></td>
                            {% endif %}
                            <td ID="{{ fund.token }}EUR">
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="post-description">
        <div class="pure-g">
            {% if request.user.role == "editor" %}
            <div class="pure-u-1-2">
                <p class"post-meta">
                    <a class="pure-button" href="{{ add_funds }}">
                        Add funds
                    </a>
                </p>
            </div>
            {% endif %}

            {% if request.user.name == user.name %}
            <div class="pure-u-1-2">
                <p class"post-meta">
                    <a class="pure-button" href="{{ send_funds }}">
                        Send funds
                    </a>
                </p>
            </div>
            {% endif %}
        </div>
    </div>

    {% if transactions_btc.count() != 0 %}
    <header class="post-header">
        <p class="post-meta">
            Bitcoin transakcije
        </p>
    </header>
    <div class="post-description">
        <div class="post-images pure-g">
            <div class="pure-u-1">
            <table class="pure-table pure-table-bordered" style="width:100%">
                {% for fund in transactions_btc %}
                <tr>
                    <td>
                        {{ fund.token }}
                    </td>
                    <td class="{{ fund.token }}">
                        {% if fund.sender == user %}
                            {{ "%.8f"|format(-fund.value) }}
                        {% else %}
                            {{ "%.8f"|format(fund.value) }}
                        {% endif %}
                    </td>
                    <td>
                        {% if fund.sender == user %}
                            {{ fund.user.name }}
                        {% else %}
                            {{ fund.sender.name }}
                        {% endif %}
                    </td>
                    <td>
                        {{ fund.comment }}
                    </td>
                    <td class="timestamp">
                        {{ fund.timestamp }}
                    </td>
                </tr>
                {% endfor %}
            </table>
            </div>
        </div>
    </div>
    {% endif %}


    {% if transactions_eth.count() != 0 %}
    <header class="post-header">
        <p class="post-meta">
            Ethereum transakcije
        </p>
    </header>
    <div class="post-description">
        <div class="post-images pure-g">
            <div class="pure-u-1">
            <table class="pure-table pure-table-bordered" style="width:100%">
                {% for fund in transactions_eth %}
                <tr>
                    <td>
                        {{ fund.token }}
                    </td>
                    <td class="{{ fund.token }}">
                        {% if fund.sender == user %}
                            {{ "%.8f"|format(-fund.value) }}
                        {% else %}
                            {{ "%.8f"|format(fund.value) }}
                        {% endif %}
                    </td>
                    <td>
                        {% if fund.sender == user %}
                            {{ fund.user.name }}
                        {% else %}
                            {{ fund.sender.name }}
                        {% endif %}
                    </td>
                    <td>
                        {{ fund.comment }}
                    </td>
                    <td class="timestamp">
                        {{ fund.timestamp }}
                    </td>
                </tr>
                {% endfor %}
            </table>
            </div>
        </div>
    </div>
    {% endif %}

    {% if transactions_spf.count() != 0 %}
    <header class="post-header">
        <p class="post-meta">
            SportyFi transakcije
        </p>
    </header>
    <div class="post-description">
        <div class="post-images pure-g">
            <div class="pure-u-1">
            <table class="pure-table pure-table-bordered" style="width:100%">
                {% for fund in transactions_spf %}
                <tr>
                    <td>
                        {{ fund.token }}
                    </td>
                    <td class="{{ fund.token }}">
                        {% if fund.sender == user %}
                            {{ "%.8f"|format(-fund.value) }}
                        {% else %}
                            {{ "%.8f"|format(fund.value) }}
                        {% endif %}
                    </td>
                    <td>
                        {% if fund.sender == user %}
                            {{ fund.user.name }}
                        {% else %}
                            {{ fund.sender.name }}
                        {% endif %}
                    </td>
                    <td>
                        {{ fund.comment }}
                    </td>
                    <td class="timestamp">
                        {{ fund.timestamp }}
                    </td>
                </tr>
                {% endfor %}
            </table>
            </div>
        </div>
    </div>
    {% endif %}


    {% if transactions_pivx.count() != 0 %}
    <header class="post-header">
        <p class="post-meta">
            PIVX transakcije
        </p>
    </header>
    <div class="post-description">
        <div class="post-images pure-g">
            <div class="pure-u-1">
            <table class="pure-table pure-table-bordered" style="width:100%">
                {% for fund in transactions_pivx %}
                <tr>
                    <td>
                        {{ fund.token }}
                    </td>
                    <td class="{{ fund.token }}">
                        {% if fund.sender == user %}
                            {{ "%.8f"|format(-fund.value) }}
                        {% else %}
                            {{ "%.8f"|format(fund.value) }}
                        {% endif %}
                    </td>
                    <td>
                        {% if fund.sender == user %}
                            {{ fund.user.name }}
                        {% else %}
                            {{ fund.sender.name }}
                        {% endif %}
                    </td>
                    <td>
                        {{ fund.comment }}
                    </td>
                    <td class="timestamp">
                        {{ fund.timestamp }}
                    </td>
                </tr>
                {% endfor %}
            </table>
            </div>
        </div>
    </div>
    {% endif %}
</section>
{% endblock content %}

{% block scripts %}
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="{{request.static_url('cryptodokladi:static/js/tables.js')}}"></script>
{% endblock scripts %}
